.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.auth-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;

  & .item:not(:last-child) {
    margin-right: 50px;
  }

  & .link {
    display: block;

    color: $title-text-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.current {
      color: $accent-color;
      letter-spacing: 0.02em;

      position: relative;

      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        position: absolute;
        top: 43px;
      }
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;

  & .item:not(:first-child) {
    margin-left: 50px;
  }
  & .contact-item {
    display: flex;
    align-items: center;

    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
      & .mail-item-svg,
      & .mail-item-svg {
        fill: $accent-color;
      }
      & .tel-item-svg,
      & .tel-item-svg {
        fill: $accent-color;
      }
    }
  }
}

.tel-item-svg {
  margin-right: 10px;
  fill: $primary-text-color;
}
.mail-item-svg {
  margin-right: 10px;
  fill: $primary-text-color;
}
