.button-nav {
  border: 1px solid $secondary-button-color;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: $secondary-button-color;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.page-nav .item:not(:last-child) {
  margin-right: 8px;
}
.page-nav .button-nav:hover,
.page-nav .button-nav:focus {
  background-color: $accent-color;
  color: $primary-white-color;
}
